* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

#blue1,
#blue2,
#blue3 {
    background-color: rgb(76, 170, 252);
    height: 40px;
}

header {
    margin: 40px 0;
}

#notFound {
    margin: 20px 10px;
}

main {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 200px;
} 



.title {
    margin: 20px 10px;
    font-size: 20px;
}

.input-title {
    margin: 10px 10px;
    font-size: 15px;
}

#search,
.input {
    margin: 0 10px;
    border: solid 0.5px;
    height: 30px;
    font-size: 15px;
    padding: 10px
}

main {
    padding: 40px 0;
}

#button,
button {
    margin: 10px 10px;
    background-color: rgb(107, 107, 255);
    height: 30px;
    width: 60px;
    border: none;
    border-radius: 5px;
    color: white;
}

#message {
    margin-top: 1rem;
    position: fixed;
    top:1rem;
    right:1rem;
    padding: 1rem;
    border-radius: 5px;
    text-align: center;
    font-size: 1rem;
    font-weight: bold;
    visibility: hidden;
    transition: visibility 0.3s ease;
}

#message.success {
    background-color: #4caf50;
    color: white;
    visibility: visible;
}
  
#message.error {
    background-color: #f44336;
    color: white;
    visibility: visible;
}


#button {
    margin-left: 75px;
}

table, th, td {
    border: 0.5px solid #333;
    border-collapse: collapse;
    padding: 10px;
}

th {
    background: #Ecb4b4;
    color: white;
}

table {
    margin: 20px 10px;
}

#car {
    background-image: url(car.png);
    background-size: contain;
    background-position: center;
    height: 400px;
    background-repeat: no-repeat;
    flex: 1;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 300px;
}

#search {
    margin-left: 234px;
    margin-top: 243px;
    width: 100px;
}

.searchResult {
    flex: 1;
}

#color {
    width: 197px;
}
